
College/magnetometer.py
Core python programming/3_ex.py
Test Files/test.py
Test Files/elasticsearch.py
Test Files/cryptography.py
Test Files/crypto.py
My Projects/02 Book Data Entry/gui.ui
My Projects/01 Basic Calculator/Calculator.py
My Projects/01 Basic Calculator/Calculator.exe
My Projects/01 Basic Calculator/__pycache__/Calculator.cpython-37.pyc
Internshala/Internshala Assignments/Final Project/__pycache__/savemessage.cpython-37.pyc
Internshala/Internshala Assignments/Final Project/main.py
Internshala/Internshala Assignments/Final Project/newteam.py
Internshala/Internshala Assignments/Final Project/openteam.py
Internshala/Internshala Assignments/Final Project/playerdb.db
Internshala/Internshala Assignments/Final Project/problem statement/Python_FinalProject_ProblemStatement.docx.pdf
Internshala/Internshala Assignments/Final Project/savemessage.exe
Internshala/Internshala Assignments/Final Project/savemessage.py
Internshala/Internshala Assignments/Final Project/ui files/gui.ui
Internshala/Internshala Assignments/Final Project/ui files/newteam.ui
Internshala/Internshala Assignments/Final Project/ui files/openteam.ui
Internshala/Internshala Assignments/Final Project/ui files/savemessage.ui
My Projects/01 Basic Calculator/Calculator.py
My Projects/01 Basic Calculator/__pycache__/Calculator.cpython-37.pyc
My Projects/01 Basic Calculator/Calculator.py
My Projects/01 Basic Calculator/__pycache__/Calculator.cpython-37.pyc
My Projects/01 Basic Calculator/__pycache__/Calculator.cpython-37.pyc
My Projects/01 Basic Calculator/Calculator.py
My Projects/01 Basic Calculator/__pycache__/Calculator.cpython-37.pyc
